<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}

      th {
        background-color: #4CAF50;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Sign In</h1>
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    <form action="/signin" method="post">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.firstName %></td>
              <td><%= user.lastName %></td>
              <td><%= user.dob %></td>
              <td><%= user.country %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <br>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName"><br><br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName"><br><br>
      <input type="submit" value="Sign In">
    </form>
  </body>
</html>
